<div [@routerTransition]>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    Ubicación de los conductores
                    <button class="btn btn-success pull-right" (click)="ubicarConductores()">Actualizar</button>
                </div>
                <div class="card-body table-responsive">
                    <div #gmap style="width:100%;height:400px"></div> 
                </div>
            </div>
        </div>
    </div>
</div>
