<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" />
            <h1>Panel de control - Speedy App</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="email" [(ngModel)]="email" class="form-control input-underline input-lg"  placeholder="Correo electrónico">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="password" class="form-control input-underline input-lg"  placeholder="Contraseña">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Ingresar </a>
            </form>
        </div>
    </div>
</div>
