<div [@routerTransition]>
    <app-page-header [heading]="'Categorías'" [icon]="'fa-folder'"></app-page-header>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    Listado de categoriías
                    <button class="btn btn-success pull-right" data-toggle="modal" (click)="open(crear)">Crear categoría</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items | async">
                            <td>{{item.payload.val().categoria}} </td>
                            <td><img width="300px" src="{{item.payload.val().imagen}}" alt=""></td>
                            <td>
                                <span class="badge"
                                [class.badge-success]="(item.payload.val().estado=='disponible')" 
                                [class.badge-primary]="(item.payload.val().estado=='aprobado')"
                                [class.badge-warning]="(item.payload.val().estado=='infoVehiculo' || item.payload.val().estado=='infoPersonal')"
                                [class.badge-danger]="(item.payload.val().estado=='enRevision')"
                                [class.badge-secondary]="(item.payload.val().estado=='ocupado' || item.payload.val().estado=='noDisponible')"
                                >{{item.payload.val().estado}}</span>
                                </td>
                            <td><button [routerLink]="['/categoria/'+item.key]" class="btn btn-sm btn-info">Ver servicios</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #crear let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Nueva categoría</h4>
        <button type="button" class="close" aria-label="Close" (click)="cerrar('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="text" name="categoria" [(ngModel)]="categoria" placeholder="categoria">
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="crear()">Crear</button>
        <button type="button" class="btn btn-secondary" (click)="cerrar('Close click')">Cerrar</button>
    </div>
</ng-template>
